video {
    width: 100%;
    height: auto;
}

.mejs-container{
	width:100% !important;
}

.col-xs-12 {
	padding:0px !important;
}
.yt-uix-sessionlink{
	display:none !important;
}
.ytp-icon{
	display:none !important;
}
iframe {
        width: 100%;
		    overflow-y: hidden;
    }
@media only screen and (min-width: 400px) {
    iframe {
        width: 100%;
    }
	
	iframe .yt-uix-sessionlink{
		display:none !important;
	}
}
.list-group{
	  /*  // pointer-events: none !important; */
}
.glyphicon-nonescaped.glyphicon-calendar:before {
  content: "\d83d\dcc5";
}

.playBtn{
	float: right;
    margin-top: -5px;
	
}
.pauseBtn{
	float: right;
    margin-top: -5px;
	
}
.rightShift{
	    margin-right: 6px;
    margin-top: -1px;
}

#watchBtn{
	 width: 100px;
    height: 35px;
    top: 60%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
	position: absolute;	
}

#splash{
	background:url('../img/bg.gif') no-repeat right top;
	background-color: black;
	height:100% !important;
}


span.submit {
    writing-mode: tb-rl;
    z-index: 999;
    position: fixed;
    top: 22px;
    padding: 5px 10px;
    left: 4px;
    cursor: pointer;
    border: none;
    background: #6B5645;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 1px #6B5645;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6B5645), to(#513E2F));
    background-image: -webkit-linear-gradient(#6B5645, #513E2F);
    background-image: -moz-linear-gradient(#6B5645, #513E2F);
    background-image: -ms-linear-gradient(#6B5645, #513E2F);
    background-image: -o-linear-gradient(#6B5645, #513E2F);
    background-image: linear-gradient(#6B5645, #513E2F);
    -moz-border-radius-topleft: 19px;
    -webkit-border-top-left-radius: 19px;
   
	
	 border-top-left-radius: 19px;
	border-bottom-right-radius: 19px;
    border-bottom-left-radius: 19px;
   
    border-top-right-radius: 19px;
	
    -moz-border-radius-topright: 19px;
    -webkit-border-top-right-radius: 19px;
    border-top-right-radius: 19px;
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, .6);
    box-shadow: 0 0 12px rgba(0, 0, 0, .6);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
